.main {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 var(--spacing--8x) var(--spacing--4x);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: var(--spacing);
  flex-direction: column;
}

.content-block {
  display: flex;
  flex-direction: column;
}

.content-block {
  margin-bottom: var(--spacing--16x);
}
