.hero-block {
  align-items: center;
  text-align: center;
}

.hero-block__container {
  position: relative;
  min-height: var(--size--12x);
}

.hero-block__container {
  background-color: var(--color-accent);
  color: var(--color-text--accent);
  border-radius: var(--spacing--2x);
}

/*  Lab 2 Task 1.1 Position absolute for the logo, 0 from top */

.hero-block__headline {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.hero-block__title {
  position: relative;
  -webkit-text-stroke: 2px var(--color-primary);
}

.hero-block__title::after {
  content: "FUKURO";
  display: block;
  position: absolute;
  color: transparent;
  top: var(--spacing--2x);
}

.hero-block__title::before {
  content: "·";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-text-stroke: none;
  transform: translateX(-80%) translateY(-2%) scale(0.8);
  animation: eye-moving 3s ease-in-out infinite 1s;
}

@keyframes eye-moving {
  0% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  45% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  50% {
    transform: translateX(-60%) translateY(-2%) scale(0.8);
  }
  60% {
    transform: translateX(-60%) translateY(-2%) scale(0.8);
  }
  65% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }

  70% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }

  75% {
    transform: translateX(-100%) translateY(-2%) scale(0.8);
  }

  80% {
    transform: translateX(-100%) translateY(-2%) scale(0.8);
  }

  85% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  100% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
}

@media (max-width: 1200px) {
  .hero-block__title::after {
    top: var(--spacing);
  }

  .hero-block__container {
    min-height: var(--size--8x);
  }

  .hero-block__headline {
    top: 10%;
  }
}
