

.card {
  flex: 1;
  display: flex;
  padding: var(--spacing--4x);
  border-radius: var(--spacing);
}

.card__headline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card__subtitle {
  font-size: var(--font-size);
  color: var(--color-text--secondary);
}

.mission-block__card {
  position: relative;
  max-height: 200px;
  background-color: var(--color-secondary);
  overflow: hidden;
  min-width: var(--size--2x);
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.mission-block__card:hover {
  border: 2px solid var(--color-accent);
  color: var(--color-primary);
  z-index: 2;
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--color-accent);
}

.mission-block__card .card__image {
  position: relative;
  height: auto;
  flex: 0 0 250px;
  right: calc(-1 * var(--spacing--2x));
  bottom: calc(-1 * var(--spacing--4x));
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.card:hover .card__image {
  filter: grayscale(0);
}

.mission-block__card .card__text-block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card__text {
  opacity: 0.7;
}
