* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
  font-size: var(--font-size);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size--16x);
}

h2 {
  font-size: var(--font-size--4x);
}

/*  Lab 2 Task 2.3 Makes titles of the projects bigger  and bolder */

h3 {
  font-size: var(--font-size--2x);
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: var(--color-secondary);
  padding: var(--spacing);
  border-radius: var(--spacing);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}

.card {
  flex: 1;
  display: flex;
  padding: var(--spacing--4x);
  border-radius: var(--spacing);
}

.card__headline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card__subtitle {
  font-size: var(--font-size);
  color: var(--color-text--secondary);
}

.card:hover .card__image {
  filter: grayscale(0);
}

.card__text {
  opacity: 0.7;
}

.mission__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  gap: var(--spacing);
}

.mission__container,
.founders__container {
  gap: var(--spacing--4x);
}

.mission__title,
.founders__title {
  text-align: center;
  color: var(--color-primary);
  gap: var(--spacing--4x);
}

@media (max-width: 1200px) {
  .mission-block__cards {
    flex-wrap: wrap;
  }

  .mission-block .card {
    min-width: var(--size--8x);
  }

  h1 {
    font-size: var(--font-size--8x);
  }

  h2 {
    font-size: var(--font-size--4x);
  }

  .projects-block .card {
    flex-wrap: wrap;
  }

  .projects-block .card__image {
    max-width: 100%;
  }
}

.night-theme * {
  filter: brightness(0.96);
}
