* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
  font-size: var(--font-size);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size--16x);
}

h2 {
  font-size: var(--font-size--4x);
}

/*  Lab 2 Task 2.3 Makes titles of the projects bigger  and bolder */

h3 {
  font-size: var(--font-size--2x);
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: var(--color-secondary);
  padding: var(--spacing);
  border-radius: var(--spacing);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}


.hero-block {
  align-items: center;
  text-align: center;
}

.hero-block__container {
  position: relative;
  min-height: var(--size--12x);
}

.hero-block__container {
  background-color: var(--color-accent);
  color: var(--color-text--accent);
  border-radius: var(--spacing--2x);
}


/*  Lab 2 Task 1.1 Position absolute for the logo, 0 from top */

.hero-block__headline {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.hero-block__title {
  position: relative;
  -webkit-text-stroke: 2px var(--color-primary);
}

.hero-block__title::after {
  content: "FUKURO";
  display: block;
  position: absolute;
  color: transparent;
  top: var(--spacing--2x);
}

.hero-block__title::before {
  content: "·";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-text-stroke: none;
  transform: translateX(-80%) translateY(-2%) scale(0.8);
  animation: eye-moving 3s ease-in-out infinite 1s;
}

@keyframes eye-moving {
  0% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  45% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  50% {
    transform: translateX(-60%) translateY(-2%) scale(0.8);
  }
  60% {
    transform: translateX(-60%) translateY(-2%) scale(0.8);
  }
  65% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }

  70% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }

  75% {
    transform: translateX(-100%) translateY(-2%) scale(0.8);
  }

  80% {
    transform: translateX(-100%) translateY(-2%) scale(0.8);
  }

  85% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  100% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
}

.mission__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  gap: var(--spacing);
}

.mission__container,
.founders__container {
  gap: var(--spacing--4x);
}

.mission__title,
.founders__title {
  text-align: center;
  color: var(--color-primary);
  gap: var(--spacing--4x);
}



@media (max-width: 1200px) {

  .hero-block__title::after {
    top: var(--spacing);
  }

  .hero-block__container {
    min-height: var(--size--8x);
  }

  .mission-block__cards {
    flex-wrap: wrap;
  }

  .mission-block .card {
    min-width: var(--size--8x);
  }

  .hero-block__headline {
    top: 10%;
  }

  h1 {
    font-size: var(--font-size--8x);
  }

  h2 {
    font-size: var(--font-size--4x);
  }

  .projects-block .card {
    flex-wrap: wrap;
  }

  .projects-block .card__image {
    max-width: 100%;
  }
}