.founders-block {
  transition: all 0.3s ease-in-out;
}

.founders-block:focus {
  transform: translateX(2%);
}

.founders__table {
  width: 100%;
  border-spacing: var(--spacing--2x);
}

.founders__table td {
  text-align: center;
  vertical-align: middle;
  padding: var(--spacing--4x);
}

.founders__table td:nth-child(3) {
  max-width: var(--size--4x);
}

.founders__desc:nth-child(3) {
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
}

.founders__header {
  text-align: center;
  vertical-align: middle;
  padding: var(--spacing);
}

.founders__header > * {
  margin-bottom: var(--spacing);
}

.founders__avatar {
  display: inline-block;
  width: var(--size--2x);
  border-radius: 100%;
  overflow: hidden;
}

.founders__avatar img {
  width: 100%;
  height: auto;
}

.founders__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing--2x);
}

.founders__icon {
  width: var(--icon-size--4x);
}

.founders__desc::-webkit-scrollbar,
.container::-webkit-scrollbar {
  height: var(--icon-size);
}

/* track of the scrollbar */
.founders__desc::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb of the scrollbar */
.founders__desc::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: var(--icon-size);
  border: 2px solid transparent;
  background-clip: content-box;
}

/* thumb hover effect */
.founders__desc::-webkit-scrollbar-thumb:hover,
.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

@media (max-width: 1200px) {
  .founders-block__container {
    overflow-x: scroll;
  }
}

.founders__header .image-wrapper {
  margin: 0 auto;
  margin-bottom: var(--spacing--2x);
}
